body {
	margin: 0;
}

html {
	font-size: 10px;
}

.whole_page {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.left_part {
	width: 70%;
	min-width: 55rem;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.02);
}

.left_header {
	width: 90%;
	min-width: 40rem;
	/* min-width: 60rem; */
	text-decoration: none;
	text-align: right;
	padding-top: 8rem;
}

.header_link {
	text-decoration: none;
	text-align: right;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.8rem;
	letter-spacing: 0.25px;
	color: #4743e0;
}

.title {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 6rem 5rem 0;
	margin-left: 5rem;
	margin-top: 6rem;
	margin-right: 5rem;
}

.title_left {
	padding: 1rem;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 5rem;
	color: #42505c;
}

.title_right {
	margin: 2rem 1rem 2rem 10rem;
	/* padding: 1rem; */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;

	letter-spacing: 0.25px;
	color: #404040;
	opacity: 0.99;
}

.GDRP_terms {
	text-decoration: none;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.8rem;
	letter-spacing: 0.25px;
	color: #4743e0;
	opacity: 0.99;
}

.divider_line {
	margin-top: 1.5rem;
	width: 90%;
	border-style: dashed;
	opacity: 0.2;
	border: 1px dashed #000000;
}


.section1,
.section2,
.section3 {
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.section3 {
	align-items: center;
}

.form_left_1,
.form_left_2,
.form_left_3 {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: 1rem 3rem 1rem 3rem;
}

.form_left_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2rem;

}

form_left_3a {
	align-items: center;
}

.form_left_item3 {
	text-align: center;
	margin-right: 3rem;
	margin-left: 3rem;
}

.label_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quest_mark_img {
	width: 1rem;
}

.quest_mark_link {

	align-content: center;
}

.name_label,
.name_label_1 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2.8rem;
	letter-spacing: 0.25px;
	color: #333333;
	margin-bottom: 0.1rem;
}

.name_label_optional {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2.8rem;
	letter-spacing: 0.25px;
	color: #333333;
	opacity: 0.34;
	margin-bottom: 0.1rem;
}

.name_input,
.name_input_1,
.name_input_bt {
	padding: 0.2rem;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2.8rem;
	letter-spacing: 0.25px;
	color: #000000;
	/* opacity: 0.4; */
	opacity: 1;
	background: #ffffff;
	border: 1px solid #d1d1d1;
}

.name_input_bt {
	padding: 0.1rem 10px;
}

.register_button {
	background-color: #4743e0;
	border: 1px solid #4743e0;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.8rem;
	text-align: center;
	letter-spacing: 0.25px;
	color: #ffffff;
	cursor: pointer;
	width: 100%;
	padding: 1rem 2rem 1rem 2rem;
}

.employees_radio {
	display: flex;
	justify-content: space-between;
}

.name_label_1 {
	border: 1px solid #d1d1d1;
	width: 1rem;
	height: 2.8rem;
	padding: 1rem 0.5rem;
	cursor: pointer;
	background: #ffffff;
}

.name_label_1:hover {
	background: yellow;
	color: blue;
}

.name_input_1 {
	display: none;
}

.GDRP_terms_group {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 3rem;
}

.right_part {
	background: #e5e5e5;

	width: 40%;
	min-width: 40rem;
	position: relative;
}

.right_img {
	width: 90%;
	/* min-width: 30rem; */
	position: absolute;
	bottom: 0px;
	right: 0.3rem;
	/* padding-left: -15rem; */
}

.right_part img {
	width: 100%;
	/* height: 100%; */
	/* object-fit: cover; */
	/* object-position: 0 0; */
}
