/* ===================================  ###### 1020px ##### ==============================  */
@media screen and (max-width: 1020px) {
	.main__content {
		grid-template-columns: 70% 30%;
		grid-template-rows: 0.8fr 0.8fr 0.7fr 0.5fr;
	}

	.dream {
		height: auto;
	}

	.frustr {
		height: auto;
	}

	.main__content > section:nth-child(1) {
		/* .one{ */
		grid-row: 1/3;
		grid-column: 1;
		align-self: stretch;
	}

	.main__content > section:nth-child(2) {
		/* .two{ */
		grid-row: 4;
		grid-column: 1;
		/* justify-self:stretch; */
		align-self: bottom;
		justify-self: stretch;
	}

	.main__content > section:nth-child(3) {
		/* .three{ */
		grid-row: 3;
		grid-column: 1;
		align-self: flex-end;
		/* align-self: self-start; */
	}

	.main__content > section:nth-child(4) {
		/* .one{ */
		grid-row: 1;
		grid-column: 2;
	}

	.main__content > section:nth-child(5) {
		/* .one{ */
		grid-row: 3;
		grid-column: 2;
		align-self: end;
	}

	.main__content > section:nth-child(6) {
		/* .one{ */
		grid-row: 2;
		grid-column: 2;
		align-self: stretch;
	}

	.main__content > section:nth-child(7) {
		/* .one{ */
		grid-row: 4;
		grid-column: 2;
		align-self: stretch;
	}
}

/* ===================================  ###### 600px ##### ==============================  */
@media screen and (max-width: 600px) {
	.main__content {
		grid-template-columns: 90%;
		grid-template-rows: auto;
	}

	.dream {
		height: auto;
	}

	.frustr {
		height: auto;
	}

	.main__content > section:nth-child(1) {
		/* .one{ */
		grid-row: 1/5;
		grid-column: 1;
	}

	.main__content > section:nth-child(2) {
		/* .two{ */
		grid-row: 5;
		grid-column: 1;
		/* justify-self:stretch; */
		/* align-self: bottom;
    justify-self:center; */
	}

	.main__content > section:nth-child(3) {
		/* .three{ */
		grid-row: 6;
		grid-column: 1;
		/* align-self: self-start; */
	}

	.main__content > section:nth-child(4) {
		/* .one{ */
		grid-row: 7;
		grid-column: 1;
	}

	.main__content > section:nth-child(5) {
		/* .one{ */
		grid-row: 8;
		grid-column: 1;
		/* align-self: end; */
	}

	.main__content > section:nth-child(6) {
		/* .one{ */
		grid-row: 9;
		grid-column: 1;
		/* align-self: stretch; */
	}

	.main__content > section:nth-child(7) {
		/* .one{ */
		grid-row: 10;
		grid-column: 1;
		/* align-self: stretch; */
	}
}
