body {
	background: #f5f5f5;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	color: #000000;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 10px;
}

main {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;
}

.wrapper {
	align-self: center;
}

.main__content {
	margin: 0 auto;
	width: 70vw;
	padding: 1.5rem;
	background-color: #ffb084;
	display: grid;
	/* gap: 2rem; */
	grid-template-columns: 40% 30% 30%;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
	/* grid-template-rows: repeat(4, 25%);  40% 17% 13% 27%; 0.75fr 0.5fr 0.25fr 0.5fr */
}

.main__content > section:nth-child(1) {
	/* about .one{ */
	grid-row: 1/4;
	grid-column: 1;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(10, 3rem);
	/* gap: 1rem; */
	background: #ffffff;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	padding: 1rem 2rem;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin: 0.5rem;
}

.about span {
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.4rem;
}

h1 {
	grid-row: 1;
	grid-column: 1/4;
	justify-self: center;
	/* align-self: center; */
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
	color: #000000;
	margin: 0%;
}

.face {
	grid-row: 2/6;
	grid-column: 1/4;
	justify-self: center;
	align-self: center;
}

.age {
	grid-row: 6;
	grid-column: 1/2;
	justify-self: left;
	align-self: center;
}

.pronouns {
	grid-row: 6;
	grid-column: 2/4;
	justify-self: left;
	align-self: center;
}

.education {
	grid-row: 7;
	grid-column: 1/4;
	justify-self: left;
	align-self: center;
}

.occupation {
	grid-row: 8;
	grid-column: 1/4;
	justify-self: left;
	align-self: center;
}

.location {
	grid-row: 9;
	grid-column: 1/4;
	justify-self: left;
	align-self: center;
}

.ability {
	grid-row: 10;
	grid-column: 1/4;
	justify-self: left;
	align-self: center;
}

.main__content > section:nth-child(2) {
	/* motto .two{ */
	grid-row: 4;
	grid-column: 1;
	/* justify-self:stretch; */
	align-self: end;
	justify-self: center;
	/* margin: 1rem; */
}

.motto {
	padding: 1.5rem 2.5rem;
	align-self: center;
	background: #ffffff;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin: 0.5rem;
	/* align-self: stretch;
    justify-self:center; */
}

.main__content > section:nth-child(3) {
	/* bio .three{ */
	grid-row: 1;
	grid-column: 2/4;
	align-self: self-start;
}

.bio,
.goal,
.dream,
.frustr,
.personality {
	padding: 1.5rem 2.5rem;
	/* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2fr;
    row-gap: 1rem;
        justify-self: center; */
	/* align-self: center; */
	background: #ffffff;
	box-shadow: 7px 7px 0px #000000;
	border-radius: 20px;
	margin: 0.5rem;
}

.dream {
	height: 19vh;
}

.frustr {
	height: 21vh;
}

.bio_header,
.goal_header,
.dream_header,
.frustr_header,
.personality_header {
	grid-row: 1;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin-bottom: 0.4rem;
}

.bio_content,
.goal_content,
.dream_content,
.frustr_content,
.personality_content {
	grid-row: 2;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.main__content > section:nth-child(4) {
	/* goal */
	grid-row: 2;
	grid-column: 2;
}

ul {
	padding: 0px;
	margin: 0;
}

.goal > .goal_content,
.dream > .dream_content,
frustr > .frustr_content {
	list-style: disc;
}

.main__content > section:nth-child(5) {
	/* dream */
	grid-row: 3/5;
	grid-column: 2;
	align-self: end;
}

.dream {
	/* align-self: stretch; */
}

.main__content > section:nth-child(6) {
	/* .frust */
	grid-row: 2/4;
	grid-column: 3;
	align-self: stretch;
}

.frustr {
	align-self: stretch;
}

.main__content > section:nth-child(7) {
	/* personality */
	grid-row: 4;
	grid-column: 3;
	align-self: stretch;
}

.personality {
	align-self: stretch;
}
