@keyframes picturesShowLeft {
	from {
		transform: translateX(-100vw);
	}
	to {
		transform: translateX(0vw);
	}
}

@keyframes picturesShowRight {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0vw);
	}
}

@keyframes picturesRotate1 {
	from {
		top: 0;
		left: 0;
	}
	25% {
		top: 0;
		left: 50%;
	}
	50% {
		top: 50%;
		left: 50%;
	}
	75% {
		top: 50%;
		left: 0;
	}
	to {
		top: 0;
		left: 0;
	}
}

@keyframes picturesRotate2 {
	from {
		top: 0;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 50%;
	}
	50% {
		top: 50%;
		left: 0;
	}
	75% {
		top: 0;
		left: 0;
	}
	to {
		top: 0;
		left: 50%;
	}
}

@keyframes picturesRotate3 {
	from {
		top: 50%;
		left: 50%;
	}
	25% {
		top: 50%;
		left: 0;
	}
	50% {
		top: 0;
		left: 0;
	}
	75% {
		top: 0;
		left: 50%;
	}
	to {
		top: 50%;
		left: 50%;
	}
}

@keyframes picturesRotate4 {
	from {
		top: 50%;
		left: 0;
	}
	25% {
		top: 0;
		left: 0;
	}
	50% {
		top: 0;
		left: 50%;
	}
	75% {
		top: 50%;
		left: 50%;
	}
	to {
		top: 50%;
		left: 0;
	}
}


