@media screen and (min-width: 1620px) {
	.services_left_img {
		width: 25rem;
		height: 25rem;
	}
}

@media (min-width: 991px) and (max-width: 1199.9px) {
	/* .header_navigation_item {
	color: black;
}

.header_navigation_link {
	color:black;
}

.nav-link:focus, .nav-link:hover, .navbar-nav:hover, .navbar-nav:focus{
	color: blue;
} */
	/* .nav_manu_area{
	background-color: rgba(170, 243, 209, 0.7);
	align-items: end;
} */
}

@media screen and (max-width: 991.9px) {
	:root {
		--nav_font_size: 1.8rem;
		--nav_line_size: 2rem;
		--h2_font_size: 4rem;
		--h2_line_size: 5rem;
		--serv_font_size: 2rem;
		--serv_line_size: 3rem;
		--inpt_font_size: 2.6rem;
		--inpt_line_size: 3.4rem;
		--contc_font_size: 1.5rem;
		--contс_line_size: 2.5rem;
	}

	/* .header_navigation_item {
	color: black;
}

.header_navigation_link {
	color:black;
}

.nav-link:focus, .nav-link:hover, .navbar-nav:hover, .navbar-nav:focus{
	color: blue;
}
.nav_manu_area{
	background-color: rgba(170, 243, 209, 0.7);
	align-items: end;
} */

	.screen1 {
		min-height: 90vh;
	}

	/* .screen1_content {
		min-height: 89vh;
	} */

	.galery_group {
		margin: 0 auto;
		display: flex;
		row-gap: 5%;
		flex-wrap: wrap;
		/* flex-direction: column; */
		justify-content: space-around;
		align-items: center;
		align-content: center;
	}

	.galery_group > * {
		flex: 0 0 47%;
	}

	.galery_img_group,
	.galery_img_group2,
	.galery_img_group3,
	.galery_img_group4 {
		margin: 0;
	}

	img[class^="galery_img"] {
		width: 100%;
	}

	.galery_img_group1 {
		order: 1;
	}

	.galery_img_group4 {
		order: 2;
	}

	.galery_img_group3 {
		order: 3;
	}

	.galery_img_group2 {
		order: 4;
	}

	.galery_img_group1 {
		transform: translateX(-100vw);
		animation: picturesShowLeft 2s linear 1 forwards;
	}
	.galery_img_group4 {
		transform: translateX(100vw);
		animation: picturesShowRight 2s linear 1 forwards;
	}
	.galery_img_group3 {
		transform: translateX(-100vw);
		animation: picturesShowLeft 2s linear 1 forwards;
	}
	.galery_img_group2 {
		transform: translateX(100vw);
		animation: picturesShowRight 2s linear 1 forwards;
	}

	.screen2 {
		min-height: 90vh;
	}

	/* WORKS!*/
	.screen2_content {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.services_right {
		width: 80%;
		margin: 0 auto;
	}
	.services_left {
		width: 80%;
		margin: 0 auto;
		height: 90vh;
	}
	.services_left_img {
		width: 20rem;
		height: 20rem;
	}

	/* WORKS!*/
	.employee_group {
		width: 39%;
		margin-bottom: 1rem;
	}

	/* WORKS!*/
	.employee_card_img {
		max-width: 97%;
	}
	.employee_name {
		width: 97%;
	}
	/* WORKS!*/
	.team_group {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* WORKS!*/
	.screen4_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* WORKS!*/
	.contact_group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* align-content: center; */
	}

	.map {
		width: 80%;
		margin-top: 3rem;
		margin-bottom: 3rem;
		margin-right: 0;
	}
	.form_group {
		width: 100%;
	}

	.form_group > div {
		width: 100%;
		align-items: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.form > div {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
		background-color: #e5e5e5;
		margin: 0;
		padding: 0;
		padding: 2rem;
		/* width: 90%; */
	}

	.contacts {
		width: 80%;
		margin: 0 auto;
		/* margin-top: 10rem; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding:0 2rem; */
	}

	.contacts > div {
		margin-top: 2rem;
		padding: 0;
	}
}

/* ========+++++++++++++++++++++++++++++=    768   =++++++++++++++++++================= */

@media screen and (max-width: 767.9px) {
	:root {
		--nav_font_size: 1.8rem;
		--nav_line_size: 2.1rem;
		--h2_font_size: 3rem;
		--h2_line_size: 4rem;
		--serv_font_size: 1.5rem;
		--serv_line_size: 2.5rem;
		--inpt_font_size: 2rem;
		--inpt_line_size: 3rem;
		--contc_font_size: 1.5rem;
		--contс_line_size: 2.5rem;
		/* --bs-nav-link-hover-color:black; */
	}

	.header_navigation_item {
		color: black;
	}

	.header_navigation_link {
		color: black;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav:hover,
	.navbar-nav:focus {
		color: blue;
	}
	.nav_manu_area {
		background-color: rgba(170, 243, 209, 0.7);
		align-items: end;
	}

	.screen1 {
		min-height: 90vh;
	}

	/* .screen1_content {
		min-height: 89vh;
	} */

	/* .galery_group>img[class^="galery_img"] { */
	.galery_group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: none;
	}

	img[class^="galery_img"] {
		width: 100%;
	}

	.galery_img_group1 > img {
		order: 1;
	}
	.galery_img_group2 > img:first-child {
		order: 2;
	}
	.galery_img_group2 > img:last-child {
		order: 4;
	}
	.galery_img_group3 > img:first-child {
		order: 3;
	}
	.galery_img_group3 > img:last-child {
		order: 6;
	}
	.galery_img_group4 > img {
		order: 5;
	}

	.galery_img_group1 > img {
		transform: translateX(-100vw);
		animation: picturesShowLeft 2s linear 1 forwards;
	}
	.galery_img_group2 > img:first-child {
		transform: translateX(100vw);
		animation: picturesShowRight 2s linear 1 forwards;
	}
	.galery_img_group2 > img:last-child {
		transform: translateX(-100vw);
		animation: picturesShowLeft 2s linear 1 forwards;
	}
	.galery_img_group3 > img:first-child {
		transform: translateX(100vw);
		animation: picturesShowRight 2s linear 1 forwards;
	}
	.galery_img_group3 > img:last-child {
		transform: translateX(-100vw);
		animation: picturesShowLeft 2s linear 1 forwards;
	}
	.galery_img_group4 > img {
		transform: translateX(100vw);
		animation: picturesShowRight 2s linear 1 forwards;
	}

	.screen2 {
		min-height: 90vh;
	}
	.services_right {
		display: none;
	}

	.services_left_img {
		width: 15rem;
		height: 15rem;
	}

	/* WORKS!*/
	/* .screen3{
		width: 90%;
		margin: 0 auto;
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	} */

	.team_group {
		width: 90%;
		margin: 0 auto;
		/* display: flex; */
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	/* WORKS!*/
	.employee_group {
		width: 90%;
	}
	.employee_card {
		/* margin: 0.5rem; */
	}

	.employee_card_img {
		justify-content: center;
		max-width: 90%;
	}

	.employee_card_img {
		width: 90%;
	}

	.employee_name {
		width: 90%;
	}

	/* WORKS!*/
	.screen4_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* WORKS!*/
	.contact_group {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.map {
		width: 80%;
		margin-top: 3rem;
		margin-bottom: 3rem;
		margin-right: 0;
	}
	.form_group {
		width: 100%;
	}

	.form_group > div {
		width: 100%;
		align-items: center;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90%;
	}

	.form > div {
		display: flex;
		justify-content: space-around;
		align-items: baseline;
		background-color: #e5e5e5;
		margin: 0;
		padding: 0;
		padding: 2rem;
		/* width: 90%; */
	}

	.contacts {
		width: 80%;
		margin: 0 auto;
		/* margin-top: 10rem; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding:0 2rem; */
	}

	.contacts > div {
		margin-top: 2rem;
		padding: 0;
	}
}
