@import url(./animation.css);

html,
body {
	/* height: 100%; */
	/* width: 100%; */
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
}

body {
	background: #e5e5e5;
}
html {
	font-size: 10px;
}

:root {
	--serv_rotate_delay: 8s;
	--nav_font_size: 3rem;
	--nav_line_size: 4rem;
	--h2_font_size: 5rem;
	--h2_line_size: 6.6rem;
	--serv_font_size: 3rem;
	--serv_line_size: 4rem;
	--inpt_font_size: 3.6rem;
	--inpt_line_size: 4.4rem;
	--contc_font_size: 2.8rem;
	--contс_line_size: 3.5rem;

	/* --bs-navbar-height:11vh; */
	--bs-navbar-brand-padding-y: 0;
	--bs-navbar-padding-y: 0;
	--navbar-padding-y: 0;
}
.whole_page {
	/* max-width: 1620px;
	margin: 0 auto;
	background: #ffffff; */
	/* DO NOT SET overflow: hidden; */
}

.page_container {
	max-width: 1620px;
	margin: 0 auto;
	background: #ffffff;
	/* width: 100%; */
	min-width: 25rem;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 5;
}
.header_container {
	height: 11vh;
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	background: #000000;
}

/* .nav_manu_area{
	background-color: aqua;
	opacity: 0.7;
} */

.logo_container {
	/* align-self: stretch; */
}

.logo_img {
	/* height: 100%; */
	height: 11vh;
	margin: 0;
	padding: 0;
}

.logo_link {
	text-decoration: none;
	list-style: none;
}

.header_navigation {
	margin: 0;
	padding: 0;
	padding: 5px 10px;
}

.header_navigation_list {
	font-family: "Rosario";
	font-style: italic;
	font-weight: 700;
	font-size: var(--nav_font_size);
	line-height: var(--nav_line_size);
	color: #fffcfc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.header_navigation_item {
	padding: 0 1.2rem;
	font-family: "Rosario";
	font-style: italic;
	font-weight: 700;
	font-size: var(--nav_font_size);
	line-height: var(--nav_line_size);
	color: #fffcfc;
}

.header_navigation_link {
	padding: 3rem 0px;
	text-decoration: none;
	list-style-type: none;
	color: #fffcfc;
}

h2 {
	font-family: "Rosario";
	font-style: normal;
	font-weight: 700;
	font-size: var(--h2_font_size);
	line-height: var(--h2_line_size);
	text-align: center;
	color: #000000;
	margin: 0 auto;
}

div[class="screen1"] > h2 {
	/* padding-top:10rem; */
}

.screen1,
.screen2,
.screen3,
.screen4 {
	min-height: 90vh;
	/* margin-bottom: 10%;
	padding-top: 10%; */
	justify-content: space-around;
	align-content: center;
	background: #ffffff;
	box-sizing: border-box;
	overflow: hidden;
}
.screen1 {
	min-height: 89vh;
	margin-bottom: 0;
}

.screen1_content {
	width: 100%;
	margin: 0 auto;
}

.galery_group {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.galery_img_group1,
.galery_img_group4 {
	text-align: center;
	align-items: center;
	align-content: center;
	margin: 0.8rem;
}

.galery_img_group2,
.galery_img_group3 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	margin: 0.8rem;
}

.galery_img_group2 {
	transform: translateX(-100vw);
	animation: picturesShowLeft 1s linear 1 forwards;
}

.galery_img_group3 {
	transform: translateX(100vw);
	animation: picturesShowRight 1s linear 1 forwards;
}

.galery_img_group1 {
	transform: translateX(-100vw);
	animation: picturesShowLeft 2s linear 1 forwards;
}

.galery_img_group4 {
	transform: translateX(100vw);
	animation: picturesShowRight 2s linear 1 forwards;
}

img[class^="galery_img"] {
	width: 100%;
	margin: 1rem 0;
}

/* SCREEN 2 */

/* .screen2{
	height: 90vh;
} */

.screen2_content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.services_left {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 50%;
	position: relative;
	box-sizing: border-box;
}

.services_right {
	width: 45%;
	/* max-height: 90vh; */
}

div[class^="img_"] {
	width: 50%;
	height: 50%;
	/* border: 1px solid black; */
	box-sizing: border-box;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_one {
	top: 0;
	left: 0;
	animation: picturesRotate1 var(--serv_rotate_delay) linear 3;
}

.img_two {
	top: 0%;
	left: 50%;
	animation: picturesRotate2 var(--serv_rotate_delay) linear 3;
}

.img_three {
	top: 50%;
	left: 50%;
	animation: picturesRotate3 var(--serv_rotate_delay) linear 3;
}

.img_four {
	top: 50%;
	left: 0;
	animation: picturesRotate4 var(--serv_rotate_delay) linear 3;
}

.services_left_img {
	border: 1px solid black;
	width: 25rem; /* 20rem*/
	height: 25rem;
	border-radius: 50%;
}

.services_left_img + p {
	text-align: center;
}

.services_row_text {
	font-family: "Rosario";
	font-style: italic;
	font-weight: 700;
	font-size: var(--serv_font_size);
	line-height: var(--serv_line_size);
	text-align: center;
	color: #000000;
}

.services_right_item {
	display: flex;
	justify-content: center;
	align-items: baseline;
	/* padding: 0.5rem; */
}

.services_right_img {
	width: 100%;
	display: flex;
}

/* SCREEN 3 */

/* .screen3 > h2 {
	margin-bottom: 5rem;
} */

.screen3_content {
	display: flex;
}

.team_group {
	width: 99%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/* !!!!! align-items: center; */
	/* align-content: center; */
	/* text-align: center; */
	/* margin: 0 auto; */
}

.employee_group {
	width: 28%;
	/* display: flex; */
	justify-content: space-between;
	/* !!!! align-items: center; */
	/* box-sizing: border-box; */
}

.employee_card {
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: stretch;
	position: relative;
	/* margin: 2rem; */
}

.employee_card_img {
	width: 97%;
	/* height: 100%; */

	border: 1px solid black;
	border-radius: 5rem;
	/* 40px; */
}

.team_group:hover .employee_card_img {
	filter: brightness(0.5);
}

.team_group .employee_card_img:hover {
	filter: none;
}

.team_group .employee_group > a:hover .employee_card_img {
	filter: none;
}

.employee_name {
	position: absolute;
	bottom: 0;
	width: 97%;
	background: rgba(163, 83, 10, 0.7);
	font-style: normal;
	font-weight: 400;
	font-size: var(--serv_font_size);
	text-align: center;
	color: #fffafa;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0px;
	border-radius: 0 0 4rem 4rem;
	/* 40px 40px; */
	overflow: hidden;
	transition: height 0.5s;
}

.employee_card:hover .employee_name {
	height: 20%;
	overflow: auto;
}

/* SCREEN 4 */

.screen4_content {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact_group {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.form_group {
	width: 60%;
}

.map {
	width: 37%;
	margin-top: 3rem;
}

.map > iframe {
	width: 100%;
}

.form_group > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/* align-content: center; */
	text-align: center;
	width: 100%;
}

.form_group > div > h2 {
	/* margin-left: 10%; */
	text-align: center;
	margin: 0;
	padding: 0;
}

.form {
	width: 100%;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	/* text-align: center; */
	/* margin-left: 20%; */
}

.form > div {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	background-color: #e5e5e5;
	margin: 0;
	padding: 0;
	padding: 2rem;
	/* width: 95%; */
}

.form > div > input {
	width: 45%;
	margin: 1rem;
	padding: 0.5rem 1rem;
	background-color: white;
	font-family: "Rosario";
	font-style: normal;
	font-weight: 700;
	font-size: var(--inpt_font_size);
	line-height: var(--inpt_line_size);
	border: 0px solid transparent;
	/* display: flex;
align-items: center; */
	color: rgba(0, 0, 0, 0.5);
}

.form > div:nth-child(2) > textarea {
	/* background-color: aqua; */
	resize: none;
	/* margin: 1rem; */
	width: 95%;
	/* margin: 0 auto;  */
	font-family: "Rosario";
	font-style: normal;
	font-weight: 700;
	font-size: var(--inpt_font_size);
	line-height: var(--inpt_line_size);
	/* display: flex;
align-items: center; */
	border: 0px solid transparent;
	color: rgba(0, 0, 0, 0.5);
}

.contacts {
	width: 80%;
	margin: 0 auto;
	margin-top: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 0 2rem;
}

.contacts > div {
	/* width:28%; */
	padding: 0 0.5rem;
	font-family: "Rosario";
	font-style: italic;
	font-weight: 600;
	font-size: var(--contc_font_size);
	line-height: var(--contс_line_size);
	text-align: center;
	color: #000000;
}

.contacts > div > span {
	font-family: "Rosario";
	font-style: normal;
	font-weight: 700;
	font-size: var(--contc_font_size);
	line-height: var(--contс_line_size);
	text-align: center;
	color: #000000;
}

.contacts > div > a {
	text-decoration: none;
	color: #000000;
}
