body {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 700px;
}

.header_image_group {
	background-image: url("../images/Header_image.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
	height: 70vh;
}

.header_image {
	background-image: url("../images/Venice_beach.png");
	background-repeat: no-repeat;
	/* background-size: 900px; */
	background-size: 60%;
	background-position: center;
	height: 70%;
}

.navigation_main{
    text-align: center;
}

.navigation_main > li {
	width: 350px;
	height: 360px;
	background-color: black;
	margin: 10px;
    display: inline-block;
	vertical-align: top;
    text-align: center;
}

.navigation_item {
	margin: 10px;
}

.navigation_text {
	width: 30%;
	text-align: center;
	margin: 10px auto;
}

.navigation_img {
	margin: 36px auto;
	width: 260px;
	height: 210px;
	
}

.main_picture_group{
text-align: center;
}

.main_picture {
	width: 91%;
	margin-bottom: 20px;
    margin-top: 20px;
}

.footer_groupe {
    padding-top: 20px;
	width: 100%;
	height: 250px;
	background-color: black;
}

.footer_link_item {
	padding: 10px;
	size: 20px;
}

table {
	text-align: center;
	padding: 20px 20px 5px;
	margin: 0 auto;
}

td,
tr {
	/* border:3px solid wheat; */
	width: 200px;
	text-align: left;
}

.footer_contacts_group {
	text-align: center;
}

.footer_contacts {
	padding: 10px 60px 3px;
	margin: 0;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 0.15em;
	color: #ffffff;
	border-bottom: 8px solid #ff6b00;
	display: inline;
}

footer_contacts_group > div {
	display: inline-block;
}

.socials {
	margin: 10px auto;
	display: inline-block;
}

.socials > img {
	color: white;
}

.social_item {
	margin: 10px;
	vertical-align: middle;
}
