root {
	font-size: 12px;
}

body {
	margin: 0;
	max-width: 1920px;
	min-width: 700px;
	background: #f5f5f5;
}

a {
	text-decoration: none;
}

hr {
	border: 2px solid white;
}


.header {
	height: 65px;
	background: #243b93;
	display: flex;
	justify-content: space-between;
	/* justify-items: center;
	align-items: right; */
	vertical-align: middle;
	position: sticky;
	top:0;
	left:0;
	z-index: 5;
}

.header img {
	vertical-align: middle;
}

.header_logo {
	/* margin-left: 8vw; */
	/* margin-left: 150px; */
	margin-left: 27%;
	height: 50px;
		margin-top: 7.5px;
	
}

.header_nav_menu_group {
	/* margin-left: 5vw;
	margin-right: 3vw; */
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.header_nav_menu {
	/* max-width: 70vw;
	min-width: 40vw; */
	max-width: 70%;
	min-width: 50%;
	display: flex;
	justify-content: center;
	justify-items: center;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.3rem;
	align-items: center;
	text-align: center;
	letter-spacing: 0.16rem;
	color: #ffffff;
}

.header_nav_menu_item {
	/* margin-left: 0.2vw;
	margin-right: 0.2vw; */
	margin-left: 5%;
	margin-right: 5%;
	text-transform: uppercase;
	width: 140px;
	/* color: #ffffff; */
}

.header_nav_menu_item_link{
	color: #ffffff;
}

.subheader {
	/* padding-left: 150px; */
	padding-left: 8%;
	height: 140px;
	background: #bff0ff;
	/* width: 92%; */
	display: flex;
	align-items: center;
	box-sizing:border-box;
}

.subheader_text {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 2.75rem;
	line-height: 3.56rem;
	display: flex;
	align-items: center;
	color: #202846;
}

.house_card_group {
	/* height: 2716px; */
	padding-top: 186px;
	margin: 0 auto;
	align-items: center;
}

.house_card_item {
	height: 300px;
	/* width: 85vw; */
	width: 85%;
	background: linear-gradient(87.05deg, #a9cbd6 0%, #01afe6 100%);
	position: relative;
	margin-bottom: 36px;
	display: flex;
	margin: 0 auto;
	padding-right: 10px;
	margin-bottom: 42px;
	/* border-radius: 36px; */
}

.house_card_image {
	width: 446px;
	height: 246px;
	margin: 32px 30px 21px 32px;
}

.house_card_star {
	position: absolute;
	top: 5px;
	right: 5px;
}

.house_card_description {
	width: 95%;
}

.house_card_header {
	width: 98%;
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 47px;
	/* align-items: center; */
	text-align: left;
	color: #353c57;
	border-bottom: 3px solid white;
	margin-bottom: 8px;
	padding-top: 10px;
	/* padding-right: 10px; */
	/* margin: 0 auto; */
}

.house_card_text {
	/* width:53vw; */
	width: 95%;
	height: 190px;
	background: #edfbff;

	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.75rem;
	align-items: center;
	color: #202846;
	padding: 10px;
}

.house_card_button_group {
	position: absolute;
	bottom: -6px;
	right: -20px;
	text-align: center;
}

.house_card_button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 60px;
	background-color: #202846;
	border: 1px solid #202846;
	padding: 6px 38px;
	border-radius: 30px;
	color: #ffffff;
}

.house_cards_arrow {
	position: fixed;
	bottom: 50px;
	right: 25px;
	z-index: 2;
}

.house_card_item:hover .house_card_star {
	fill: yellow;
}

.house_card_item:hover .house_card_button {
	background-color: #ef075b;
	border: 1px solid #ef075b;
}

.house_card_item:hover {
	background: #2cbdeb;
	box-shadow: 0px 0px 60px 4px #2cbdeb;
}

.personal_account_header {
	/* width: 92%; */
	box-sizing:border-box;
	height: 85px;
	/* padding-left: 150px; */
		padding-left: 8%;
	background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 2.75rem;
	line-height: 3.56rem;
	display: flex;
	align-items: center;
	color: #243b93;
	margin-bottom: 32px;
}

.personal_account_card {
	height: 498px;
	width: 70%; 
	/* width: 65vw; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background: linear-gradient(180deg, #859eff 0%, rgba(105, 255, 210, 0.5) 100%);
	margin: 0 auto;
	padding-right: 20px;
	margin-bottom: 12px;
	padding-left: 20px;
}

.personal_account_picture {
	height: 190px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 60px 40px 40px 40px;
}

.personal_account_card_exit_button_group {
	/* align-items: center;
	text-align: center; */
	justify-content: center;
	margin-bottom: 32px;
}

.personal_account_card_exit_button_text {
	display: flex;
	justify-content: center;
}

.personal_account_card_avatar_button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.94rem;
	display: flex;
	/* align-items: center;
	text-align: center; */
	justify-content: center;
	color: #ffffff;
	background: #243b93;
	border-radius: 30px;
	padding: 6px;
	margin: 10px;
}

.personal_account_card_settings_button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.94rem;
	display: flex;
	/* align-items: center;
	text-align: center; */
	justify-content: center;
	color: #ffffff;
	background: #ef075b;
	border-radius: 30px;
	padding: 6px;
	margin: 10px;
}

.personal_account_card_part2{
	margin-left: 50px;
}

.personal_account_card_exit_button {
	text-transform: uppercase;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.94rem;
	/* display: flex; */
	align-items: center;
	text-align: center;
	color: #ffffff;
	background: #243b93;
	border-radius: 30px;
	padding: 6px 38px;
}

.personal_account_item_name {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 2.94rem;
	display: flex;
	align-items: center;
	color: #353c57;
	margin: 3px;
}

.personal_account_item_data {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 2.94rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #353c57;
}

.contacts_header {
	/* width: 92%; */
	box-sizing:border-box;
	height: 85px;
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 2.75rem;
	line-height: 3.56rem;
	display: flex;
	align-items: center;
	color: #243b93;
	background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
	/* padding-left: 150px; */
		padding-left: 8%;
	margin-bottom: 32px;
}

.contacts_group {
	display: flex;
	/* justify-content: space-evenly; */
	justify-content: space-between;
	padding: 0 30px;
}

.contacts_data1 {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 2.56rem;
	line-height: 2rem;
	color: #000000;
}

.contacts_data2 {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 1.86rem;
	line-height: 2.44rem;
	display: flex;
	align-items: center;
	color: #000000;
	border-top: 1px solid black;
	margin-top: 3px;
	padding: 6px 14px;
	margin-bottom: 20px;
	}

.contacts_map {
	border: 3px solid #243b93;
	border-radius: 40px;
	margin-bottom: 32px;
}

.contacts_map_in{
border-radius: 36px;
}

.footer {
	/* width: 92%; */
		box-sizing:border-box;
	height: 65px;
	background: #243b93;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.31rem;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.16em;
	color: #ffffff;
	/* padding-left: 150px; */
		padding-left: 10%;
}
