body {
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	max-width: 1000px;
	min-width: 700px;
}
.header > h1 {
	margin: 32px;
	text-align: center;
	font-family: "M PLUS 1", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 70px;
	letter-spacing: 0.1em;
}

.header_blue {
	color: #3e45e8;
}

.header_yellow {
	color: #e8c23e;
}

.background_image1 {
	width: 100%;
	/* "position: relative; */
}

.background_image{
	position: relative;
	text-align: center;
}


.flag_vertical {
	position: absolute;
	margin-top: 130px;
	margin-left: 50px;
	margin-right: 20px;
	left: 0;
	top: 0;
}

.flag_vertical_image{
	height: 200px;
}

.text_on_image1 {
	position: absolute;
	margin-top: 124px;
	margin-left: 85px;
	max-width: 780px;
text-align: left;
	left: 0;
	top: 0;
	font-size: 36px; /* from layout = 48 */
	line-height: 1.4em; /* from layout = 56 */
	color: #ffffff;
}

.wonder_places_header {
	margin-top: 36px;
	margin-left: 80px;
	margin-bottom: 0px;
	font-size: 40px;
	line-height: 157.3%;
	color: #000000;
}

.flag_horizontal {
	margin-left: 0px;
}

.wonder_cards_group_main {
	text-align: center;
}

.wonder_cards_group > div {
	width: 260px;
	height: 380px;
	background: #ffffff;
	border: 4px solid #0d095f;
	border-radius: 30px;
	display: inline-block;
	vertical-align: bottom;
	margin: 20px;
	text-align: left;
}

.wonder_card1 {
	box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
	margin-left: 10px;
}

.wonder_card_image {
	width: 260px;
}

.wonder_card2 {
	box-shadow: 0px 21px 35px rgba(0, 209, 255, 0.35);
}

.wonder_card3 {
	box-shadow: 16px 21px 40px rgba(0, 209, 255, 0.35);
}

.wonder_card_header {
	margin-top: 16px;
	margin-left: 8px;
	font-size: 20px;
	color: #0072db;
	margin-bottom: 16px;
}

.wonder_card_text {
	margin-left: 8px;
	margin-right: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 157.3%;
	color: #ff9900;
}

.ukraine_wins_group {
	margin-top: 42px;
	text-align: center;
}

.ukraine_wins {
	font-size: 40px;
	line-height: 157.3%;
	color: #000000;
	border-bottom: 7px solid #1400ff;
	display: inline;
}

.ukraine_map_group {
	text-align: center;
	margin-top: 40px;
}

.ukraine_map_image {
	max-width: 800px;
	min-width: 400px;
}

.button_go_group {
	margin-top: 14px;
	text-align: center;
}

.button_go {
	text-transform: uppercase;
	border: 1px solid #2a61f0;
	border-radius: 50px;
	background-color: #2a61f0;
	padding: 0px 160px;
	font-weight: 700;
	font-size: 64px;
	line-height: 157.3%;
	color: #ffffff;

}

.button_go_text{
	text-decoration: none;
}

.page_footter_group {
	margin-top: 36px;
	height: 300px;
	background-image: linear-gradient(180deg, #013235 0%, #0d0661 100%);
}

.footter_ukraine_text {
	font-family: "M PLUS 1";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: 12px;
	margin-top: 0;
}

.footter_ukraine_contacts {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footter_ukraine_contacts_text {
	text-transform: uppercase;
	color: #a89d9d;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 38px;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.socials_image_group {
	text-align: center;
}

.socials_image_group > div {
	display: inline-block;
	color: #a89d9d;
	margin-top: 10px;
}

.image_instagram {
	margin-right: 28px;
}

.image_facebook {
	margin-right: 28px;
}
