body {
	margin: 0;
	width: 1920px;
    
}

a {
	text-decoration: none;
}

.header_group {
	height: 90px;
	background: #202846;
}

.header_group img {
	vertical-align: middle;
}

.header_group > div {
	display: inline-block;
	vertical-align: middle;
}

.header_logo {
	margin-left: 138px;
	width: 200px;
}

.header_menu_group {
	margin-left: 300px;
}

.header_menu_group li {
	display: inline-block;
	margin: 6px;
	vertical-align: middle;
}

.header_menu_item {
    width: 170px;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	align-items: center;
	text-align: center;
	color: #ffffff;
}

.subheader_group {
	height: 140px;
	background: #c6c6dc;
	width: 100%;
}

.subheader_text {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 48px;
	line-height: 140px;
	align-items: center;
	color: #202846;
	margin-left: 240px;
}


.house_cards_group {
    	background: #e5e5e5;
	height: 1580px;
	padding-top: 186px;
	padding-left: 216px;
	margin: 0 auto;
  
}

.house_card {
	height: 300px;
	width: 1489px;
	background: #bdbdc6;
	position: relative;
	margin-bottom: 36px;
}

.house_card > div {
	display: inline-block;
	vertical-align: top;
}

.house_card_picture {
	padding-top: 28px;
	margin-left: 100px;
	margin-bottom: 28px;
}

.house_picture {
	width: 485px;
	height: 244px;
}

.house_second_block {
	padding-left: 102px;
	padding-top: 20px;
	width: 712px;
	height: 244px;
	text-align: right;
}

.house_card_name {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
	align-items: center;
	text-align: left;
	color: #353c57;
	border-bottom: 3px solid #ffffff;
	margin-bottom: 10px;
}

.house_card_description_place {
	width: 712px;
	height: 184px;
	background: #d7d7dd;
	vertical-align: middle;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
}

.house_card_description {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	color: #202846;
	
}

.house_card_star {
	position: absolute;
	top: 15px;
	right: 15px;
}

.house_card_button_group {
	position: absolute;
	bottom: 18px;
	right: -48px;
	/* margin-top: 14px; */
	text-align: center;
}

.house_card_button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 60px;
	background-color: #202846;
	border: 1px solid #202846;
	padding: 6px 38px;
	border-radius: 30px;
	color: #ffffff;
}

.house_cards_arrow {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.footer_group {
	height: 140px;
	background: #202846;
	width: 100%;
}

.footer_text {
	margin-left: 140px;
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
	line-height: 140px;
	align-items: center;
	color: #eeecf1;
}

