@import url(./animation.css);

html, body {
  /* height: 100%; */
  /* width: 100%; */
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body{
background: #E5E5E5;
}
html{
    font-size: 10px;
}

.whole_page{
max-width: 1440px;
margin: 0 auto;
background: #FFFFFF;
/* DO NOT SET overflow: hidden; */
}

.page_container{
 width: 100%;
 min-width: 60rem;
 /* position: relative; */

}

.header{
    /* width: 100%; */
    position: sticky;
    top:0;
    left: 0;
    z-index: 5;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;

}

.logo_container{

    /* display: flex; */
    align-self: stretch;

    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-content: center; */
  
}


.logo_img{
  height:100%
}

.logo_link{
  text-decoration: none;
    list-style: none;

}

.header_navigation{
    margin: 0;
    padding: 0;
padding: 5px 10px;

}

.header_navigation_list{
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
color: #FFFCFC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.header_navigation_item{
padding:0 1.2rem;
font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
color: #FFFCFC;

}

.header_navigation_link{
    text-decoration: none;
    list-style-type: none;
    color: #FFFCFC;

}

h2{
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 7.6rem;
line-height: 10.6rem;
/* display: flex; */
/* align-items: center; */
text-align: center;
color: #000000;
margin: 3rem auto;

}

div[class="screen1"]>h2{
/* padding-top:10rem; */
}

.screen1, .screen2, .screen3{
    min-height: 90vh;
    /* margin: 0 auto; */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
background: #FFFFFF;
border: 3px solid black;
box-sizing: border-box;
overflow: hidden;

}

.screen1_content{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* margin-bottom: 2rem; */

}

.galery_group{
    /* max-width: 90%; */
    margin: 0 auto;
     display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.galery_img_group1, .galery_img_group4{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0.8rem;
    /* flex: 1 1 20%; */
}

.galery_img_group2, .galery_img_group3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0.8rem;
    /* flex: 1 1 25%; */

}

.galery_img_group2{
    transform: translateX(-100vw);
    animation: picturesShowLeft 1s linear 1 forwards;
}


.galery_img_group3{
    transform: translateX(100vw);
    animation: picturesShowRight 1s linear 1 forwards;
}


.galery_img_group1{
    transform: translateX(-100vw);
    animation: picturesShowLeft 2s linear 1 forwards;
}

.galery_img_group4{
    transform: translateX(100vw);
    animation: picturesShowRight 2s linear 1 forwards;
}

.galery_img{
    width: 99%;
    margin: 1rem 0;

}

.services_group{
    /* max-width: 90%; */
    /* margin: 0 auto; */
        display: flex;
     /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    text-align: center;
}

.services_left{
    /* margin: 0 auto; */
     display: flex;
     flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    /* flex: 1 1 49%; */
    width: 49%;

}

.services_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    align-content: center;
    /* flex: 1 1 51%; */
    width: 51%;
    
}

.services_row_item{
    /* height: 40%; */
/* flex: 1 1 20%; */
}


.services_row_1, .services_row_2{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    align-items: baseline;
    height: 40%;
    margin-bottom: 4rem;


}

.services_row_img{
    width:90%;
    /* max-width: 90%; */
    margin: 0.8rem;
    /* animation: picturesRotate 5s linear 5; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.services_row_img[id=serv1] {
    animation: picturesRotate 5s linear 0s 1;
}

.services_row_img[id=serv2] {
    animation: picturesRotate 5s linear 5s 1;
}

.services_row_img[id=serv3] {
    animation: picturesRotate 5s linear 10s 1;
}

.services_row_img[id=serv4] {
    animation: picturesRotate 5s linear 15s 1;
}


.services_row_text{
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3.8rem;
line-height: 4.8rem;
/* align-items: center; */
text-align: center;
color: #000000;
margin: 0 0.8rem;

}

.services_right_item{
    display: flex;
    justify-content: center;
    /* height: 90vh; */
    /* align-items: center; */
    align-items: baseline;
    /* width:30%; */
    padding: 0.5rem;
    /* overflow: hidden; */
}

.services_right_img{
    width: 100%;
  display: flex;
    /* height: 100%; */
}

.team_group{

}