@import url(./animation.css);

html, body {
  /* height: 100%; */
  /* width: 100%; */
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body{
background: #E5E5E5;
}
html{
    font-size: 10px;
}

.whole_page{
max-width: 1620px;
margin: 0 auto;
background: #FFFFFF;
}

.page_container{
 width: 100%;
 min-width: 60rem;

}

.header{
    position: sticky;
    top:0;
    left: 0;
    z-index: 5;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;

}

.logo_container{
    align-self: stretch;
}


.logo_img{
  height:100%
}

.logo_link{
  text-decoration: none;
    list-style: none;

}

.header_navigation{
    margin: 0;
    padding: 0;
padding: 5px 10px;
 

}

.header_navigation_list{
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
color: #FFFCFC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.header_navigation_item{
padding: 0 1.2rem;
font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
color: #FFFCFC;

}

.header_navigation_link{
     padding: 3rem 0px;
    text-decoration: none;
    list-style-type: none;
    color: #FFFCFC;

}

h2{
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 5rem;
line-height: 6.6rem;
text-align: center;
color: #000000;
margin: 0 auto;
}


.screen1, .screen2, .screen3, .screen4{
    min-height: 90vh;
    margin-bottom: 10%;
    padding-top:10%;
    justify-content: space-around;
    align-content: center;
background: #FFFFFF;
box-sizing: border-box;
overflow: hidden;

}
.screen1{
    margin-bottom: 0;

    
}

.screen1_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.galery_group{
    margin: 0 auto;
     display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.galery_img_group1, .galery_img_group4{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0.8rem;

}

.galery_img_group2, .galery_img_group3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0.8rem;


}

.galery_img_group2{
    transform: translateX(-100vw);
    animation: picturesShowLeft 1s linear 1 forwards;
}


.galery_img_group3{
    transform: translateX(100vw);
    animation: picturesShowRight 1s linear 1 forwards;
}


.galery_img_group1{
    transform: translateX(-100vw);
    animation: picturesShowLeft 2s linear 1 forwards;
}

.galery_img_group4{
    transform: translateX(100vw);
    animation: picturesShowRight 2s linear 1 forwards;
}

.galery_img{
    width: 99%;
    margin: 1rem 0;

}

/* SCREEN 2 */

.screen2_content{
    display: flex;
}


.services_left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 49%;
    position: relative;
    box-sizing: border-box;

}

.services_right{
    width: 51%;
    
}

div[class^="img_"]{
    width: 50%;
    height: 50%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;


}


.img_one{
top: 0;
left:0;
animation: picturesRotate1 5s linear infinite;
}

.img_two{
top: 0%;
left:50%;
animation: picturesRotate2 5s linear infinite;
}

.img_three{
top: 50%;
left:50%;
animation: picturesRotate3 5s linear infinite;
}

.img_four{
top: 50%;
left:0;
animation: picturesRotate4 5s linear infinite;
}

.services_left_img{
    border: 1px solid black;
    width:20rem;
    height: 20rem;
    border-radius: 50%;
}

.services_left_img + p{
    text-align: center;
}

.services_row_text{
    font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 3rem;
line-height: 4rem;
text-align: center;
color: #000000;

}

.services_right_item{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.5rem;
}

.services_right_img{
    width: 100%;
  display: flex;

}

/* SCREEN 3 */


.team_group{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 5rem;
}


.employee_group{
    width: 28%;
display: flex;
justify-content:space-between;
align-items: center;

}


.employee_card{
    height: 100%;
        display: flex;
        justify-content:center;
        align-content:stretch;
            position: relative;
}

.employee_card_img{
    
    max-width: 90%;


     border: 1px solid black;
    border-radius: 40px;
}

.team_group:hover .employee_card_img{
filter: brightness(0.5);    
}

.team_group .employee_card_img:hover{
    filter: none;
}

.team_group .employee_group>a:hover .employee_card_img{
    filter: none;
}


.employee_name{
    position: absolute;
    bottom:0;
    width: 90%;
    background: rgba(163, 83, 10, 0.7);
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: #FFFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    transition: height .5s;
}

.employee_card:hover .employee_name{
   height: 100px; 
   overflow: auto;
}



/* SCREEN 4 */

.screen4_content{
margin-bottom: 2rem;
}

.contact_group{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

}

.form_group{
    width: 55%;
    margin-left: 10%;
    
}

.map{
    width: 35%;
    margin-top: 3rem;
    margin-right: 10%;
    /* height: 50%; */
}

.map > iframe{
    width: 100%;
}

.form_group > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 80%;
    
}

.form_group > div > h2{

    text-align: center;
    margin:0;
    padding:0;


}

.form{
    width: 100%;
    margin-top: 3rem;


}

.form > div{
   
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
padding: 2rem;
 width: 90%;

}

.form > div >input{
    width: 45%;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
border: 0px solid transparent;
color: rgba(0, 0, 0, 0.5);
}

.form > div:nth-child(2) > textarea{

  resize: none;

  width: 95%;

 font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 3.6rem;
line-height: 4.4rem;
border: 0px solid transparent;
color: rgba(0, 0, 0, 0.5);
}

.contacts{
    width:80%;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    padding:0 2rem;

}

.contacts > div{

    padding: 0 0.5rem;
    font-family: 'Rosario';
font-style: italic;
font-weight: 600;
font-size: 2.8rem;
line-height: 3.5rem;
text-align: center;
color: #000000;
}

.contacts > div > span{
    font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 2.8rem;
line-height: 3.5rem;
text-align: center;
color: #000000;
}

.contacts > div > a{
    text-decoration: none;
    color: #000000;
}