@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap");

html {
	font-size: 10px;

}

body {
	background: #212529;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.header {
	display: flex;
	background: #212529;
	align-items: center;
	justify-content: space-between;
}
.menu {
	width: 35%;
}

.nav {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.7rem;
	text-transform: capitalize;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
}

.nav_item{
	margin: 0 1rem;
}

.nav_item_link {
	color: #ffffff;
}

.hire_button_link {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.7rem;
	text-transform: capitalize;

	color: #ffffff;
}

.hire_button_text {
	color: #212529;
	background: #ffb742;
	border: 2px solid #ffb742;
	border-radius: 50px;
	padding: 1.2rem 4rem;
}

.nav_item_link:hover {
	cursor: pointer;
	color: #ffb742;
}

.page_main_part {
	background: #212529;
}

.about_me_subtitle {
	margin-top: 10.8rem;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 5.1rem;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	justify-content: center;
}

.about_me_title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 9.1rem;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	justify-content: center;
	margin-bottom: 2.5rem;
}

.myself_link {
	color: #ffb742;
	text-decoration: underline;
}

.about_me_description {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 5.1rem;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	justify-content: center;
	margin-bottom: 2.2rem;
}

.avatar_image {
	text-align: center;
}

.cards_group {
	width: 90%;
	margin: 16rem auto 1rem;
	display: flex;
	justify-content: space-between;
	/* align-content: center; */
}

.card_item {
	width: 32%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 0;
	/* color: #292B2E; */
	cursor: pointer;
	background: rgba(56, 62, 69, 0.44);
	border-radius: 1rem;
}

.card_item:hover {
	background: linear-gradient(94.3deg, #ffb742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card_item:hover .card_title,
.card_item:hover .card_description {
	color: #212529;
}

.card_image {
}

.card_title {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 4rem;
	/* display: flex; */
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffb742;
}

.card_description {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 3.1rem;
	/* display: flex; */
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
}

.whoami1 {
	margin: 2rem;
}

.whoami2 {
	margin: 2rem;
}

.who_am_i {
	margin: 22.8rem auto 0;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	/* margin: 3rem; */
}

.who_am_i_subbutton {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #ffb742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	padding: 6px 10px;
	width: 15rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

.who_am_i_title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 3rem;
	color: #ffffff;
	margin-bottom: 3rem;
}

.who_am_i_description {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #d5d5d5;
	margin-bottom: 6rem;
}

.my_skills_group {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	margin: 3rem auto 14rem;
}

.my_skills_subbutton {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #ffb742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	padding: 6px 10px;
	width: 16rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

.skills1 {
	width: 40%;
	/* flex-basis: 40%; */
}

.my_skills_title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 5.6rem;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 3.2rem;
}

.my_skills_description {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #ffffff;
	margin-bottom: 6.4rem;
}

.skills2 {
	padding-left: 10%;
}

.skills_img {
	margin: 0.5rem;
    border-radius: 10px;    
}

.skills_img:hover, .skills_img:hover rect {
    cursor: pointer;
    fill: rgba(255, 183, 66, 0.5);
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.my_works_subbutton {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #ffb742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	padding: 6px 10px;
	width: 16rem;
	text-align: center;
	margin: 0 auto 1.2rem;

	/* align-items: center; */
}

.my_works_title {
	width: 50%;
	margin: 0 auto 3.5rem;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 5.6rem;
	color: #ffffff;
	text-align: center;
	/* margin-bottom: 3.5rem; */
}

.my_works_menu {
	/* min-width: 30rem; */
	width: 40%;
	margin: 0 auto 5rem;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	/* align-items: center; */
}

.my_works_menu_item {
	width: 18rem;
	/* min-width: 18rem; */
	/* display: inline-block; */
	display: flex;
	justify-content:space-around;
	text-transform: capitalize;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #ffffff;
    padding: 2rem 0;
	margin:0 0.5rem;

}   

.my_works_menu_item:hover{
    color: #212529;
    background: #FFB742;
border-radius: 3px;
}

.my_works_portfolio {
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	/* flex-wrap: nowrap; */
}

.my_works_portfolio_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* flex-wrap: nowrap; */
	/* margin: 2rem; */
}

.my_work_portfolio_img {
	margin: 1rem;
}

.clients_comments_subbutton {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	color: #ffb742;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 50px;
	padding: 6px 10px;
	width: 16rem;
	text-align: center;
	margin: 13.5rem auto 1.2rem;
}

.clients_comments_title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 39.2896px;
	line-height: 46px;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	margin: 0 auto 5rem;
}

.clients_commnets_cards {
	width: 70%;
	display: flex;
	margin: 0 auto 25rem;
	justify-content: space-evenly;
}

.clients_commnets_cards_img {
	margin: 2rem;
}

.footer {
	padding-top: 30rem;
	padding-bottom: 10rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	/* align-items:flex-start; */
	align-content: flex-start;
}

.footer1_title {
	padding-top: 2rem;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 1rem;
	color: #ffb742;
	margin-bottom: 2rem;
}

.footer_title {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 3.2rem;
	color: #f5fbf2;
	text-transform: capitalize;
}

.footer1_subtitle {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 3.2rem;
	color: #d4d4d4;
}

.footer_content_link {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3.6rem;
	color: #7b7b7b;
	text-transform: capitalize;
}

.footer {
	background: #1c1c1c;
}
