html,
body {
	height: 100%;
	/* width: 100%; */
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

body {
	background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}

html {
	font-size: 10px;
}

.all_page {
	display: flex;
	align-items: center;
	align-content: center;
	min-height: 100%;
	overflow: hidden;
}

.page_container {
	width: 90vw;
	margin: 0 auto;
	position: relative;
	background: #fff;
	min-width: 40rem;
}

.header_container {
	width: 100%;
	padding: 0.4rem 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

.header_group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
}

.left_header {
	padding-left: 3rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.4rem;
	background: linear-gradient(93.38deg, #496f74 -3.47%, #6e9195 35.61%, #2d4f61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-emphasis-color: transparent;
	text-align: left;
}

.left_header_link {
	text-decoration: none;
}

.right_header {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding-right: 3rem;
}

.right_menu {
	display: flex;
	width: 10%;
	min-width: 15rem;
	justify-content: space-between;
	text-align: right;
	align-self: flex-end;
}

.menu_item {
	list-style-type: none;
}

.right_menu_item {
	text-decoration: none;
	min-width: 10rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #ffffff;
	padding: 0 0.5rem;
}

.page_content {
	display: flex;
	justify-content: center;
	margin-top: 64px;
}

.left_part {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 56%;
	overflow: hidden;
}

.right_part {
	flex: 1 1 44%;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	box-shadow: 0px 0px 10px 9px #4e7577;
	display: flex;
	align-items: center;
	margin-top: -64px;
	overflow: hidden;
}

.form_title {
	width: 70%;
	min-width: 30rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: 3.6rem;
	color: #000000;
	text-align: center;
	margin: 6.5rem auto 0.2rem;
}

.form_group {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form_item {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form_label {
	min-width: 10rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #000000;
	text-align: left;
}

.form_input {
	min-width: 3.5rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.6rem;
	padding: 0.2rem;
	margin-bottom: 1rem;
	border: 1px solid #cccccc;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
}

.form_input[id="location"] {
	background-color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.passwd_explanation {
	display: inline-block;
	min-width: 50rem;
	margin-bottom: 1rem;
	margin-top: -0.7rem;
}

.form_button {
	margin-top: 6rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sign_up {
	justify-content: center;
}

.sign_up_button {
	cursor: pointer;
	align-items: center;
	margin-top: 3rem auto 1rem;
	padding: 0.5rem 8rem;
	text-align: center;
	justify-content: center;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #ffffff;
	background: #27485d;
	border: 1px solid #284a5e;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
}

.left_footer {
	margin-top: 1rem;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #c4c4c4;
	text-align: center;
	margin-bottom: 3rem;
}

.login_ref {
	text-decoration-line: underline;
}

.login_link {
	text-decoration: none;
	color: #476d73;
}

.right_page_group {
	width: 80%;
	margin: 0 auto;
	padding-top: 40%;
	padding-bottom: 20%;
}

.right_page_title {
	text-align: left;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 6rem;
	color: #ffffff;
	opacity: 90%;
}

.right_page_subtitle {
	text-align: left;
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #ffffff;
}
